
<head>
<link rel="icon" href="data:,">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">


            <h2 class="mt-5">Data Collector App</h2>
			<form method="post" action="{{ url_for('tasks') }}">
			<input type="submit" value="Stop/Start" name="stop" />
			<input type="submit" value="Capture" name="click"/>
			<input type="submit" value="Grey" name="grey" />
			<!--<input type="submit" value="Detect Mode" name="detect" />-->
			<input type="submit" value="Start/Stop Recording" name="rec" />
			<input type="number" value="0" name="cam" step="1" min="0" max="9"/>
                        <input type="submit" value="Change camera" name="cam_change" />
			</form>
            <img src="{{ url_for('video_feed') }}" height="80%">

        </div>
    </div>
</div>
</body>
